[submodule ".registry"]
	path = .registry
	url = https://github.com/nmfs-opensci/nmfs-opensci.r-universe.dev
	branch = HEAD
[submodule "DM"]
	path = DM
	url = https://github.com/nwfsc-math-bio/DM
[submodule "FishSET"]
	path = FishSET
	url = https://github.com/noaa-nwfsc/FishSET
[submodule "MAR1"]
	path = MAR1
	url = https://github.com/atsa-es/MAR1
[submodule "MARSS"]
	path = MARSS
	url = https://github.com/atsa-es/MARSS
[submodule "NWCTrends"]
	path = NWCTrends
	url = https://github.com/nwfsc-math-bio/NWCTrends
[submodule "VRAP"]
	path = VRAP
	url = https://github.com/nwfsc-math-bio/VRAP
[submodule "VRAPS"]
	path = VRAPS
	url = https://github.com/noaa-nwfsc/VRAPCpp
[submodule "Viability Report Data"]
	path = Viability Report Data
	url = https://github.com/nwfsc-math-bio/VRData
[submodule "bayesdfa"]
	path = bayesdfa
	url = https://github.com/fate-ewi/bayesdfa
[submodule "kwdemog"]
	path = kwdemog
	url = https://github.com/noaa-nwfsc/srkw-status
[submodule "marssTMB"]
	path = marssTMB
	url = https://github.com/atsa-es/marssTMB
[submodule "maxnet"]
	path = maxnet
	url = https://github.com/BigelowLab/maxnet
[submodule "mvdlm"]
	path = mvdlm
	url = https://github.com/atsa-es/mvdlm
[submodule "phenomix"]
	path = phenomix
	url = https://github.com/nwfsc-cb/phenomix
[submodule "rCAX"]
	path = rCAX
	url = https://github.com/nwfsc-cb/rCAX
[submodule "satf"]
	path = satf
	url = https://github.com/nmfs-ost/satf
[submodule "shellfishrisks"]
	path = shellfishrisks
	url = https://github.com/nwfsc-cb/shellfish-genetic-risks
[submodule "tvvarss"]
	path = tvvarss
	url = https://github.com/atsa-es/tvvarss
[submodule "varlasso"]
	path = varlasso
	url = https://github.com/atsa-es/varlasso
[submodule "zoid"]
	path = zoid
	url = https://github.com/noaa-nwfsc/zoid
[submodule "zoidtmb"]
	path = zoidtmb
	url = https://github.com/noaa-nwfsc/zoidtmb
